.feature-card{
    background-color: #FFFFFF;
    color: #333333;
    width: 270px;
    padding: 16px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 5px solid #E0E0E0;
}

.feature-img{
    height: 50px;
    display: block;
    margin: 20px auto;
}

.feature-text{
   font-size: 16px;
}

@media screen and (max-width: 500px) {
    .feature-card{
        margin-top: 20px;
        padding: 10px;
    }
    .feature-img{
        height: 35px;
        display: block;
        margin: 10px auto;
    }
}