.feature-card{
    background-color: #DEBA9D;
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #9E7777;
    cursor: pointer;
}

.feature-img{
    height: 40px;
    display: block;
    margin: 20px auto;
}

.feature-text{
   font-size: 12px;
}

@media screen and (max-width: 500px) {
    .feature-card{
        margin-top: 20px;
        padding: 10px;
    }
    .feature-img{
        height: 35px;
        display: block;
        margin: 10px auto;
    }
}