.user-input{
    width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.user-input-select{
    width: 440px;
}

.emoji-picker{
    position: fixed !important;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.emoji-container{
    background-color: #fff;
}

.user-input-emoji{
    text-align: center;
}

.add-note-button{
    display: block;
    margin: 30px auto;
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    h1{
        font-size: 24px;
    }
    .user-input{
        width: 250px;
        font-size: 16px;
    }
    .user-input-select{
        width: 290px;
    }
    .emoji-picker{
        width: 90% !important;
    }
}