body {
  margin: 0;
  padding: 20px 50px;
  background-color: #F5E8C7;
}

.text-center{
  text-align: center;
}

.text-primary{
  color: #6F4C5B;
}

.text-secondary{
  color: #9E7777;
}

.btn{
  margin: 20px;
  min-width: 120px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary{
  background-color: #DEBA9D;
  color: #6F4C5B;
}

.btn-secondary{
  background-color: #9E7777;
  color: #F5E8C7;
}